
body{
    margin: 0px;
    padding:0px;
}

main{
    margin: 30px;
    
}



nav {
    background: white;
    box-shadow: 0 2px 5px 0 black;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    
}



nav a { 
    color: black;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.Area{
    display: flex;
    justify-content: space-evenly;
    padding: 20 px;
    
}



.image1 {
    opacity: 0.8;
    max-width: 100%

    
}
.image2{
    max-width: 600px;
    width: 30%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1{

    
color:black;
font-family: Proxima Nova, sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 200;
letter-spacing: 1px;
line-height: normal;
}
p {
color: #545454;
float: left;
font-family: Proxima Nova, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 200;
letter-spacing: 0.5px;
line-height: normal;
text-align: left;


}

footer{
    margin: 20px;
    padding:20px;
    text-align: center;
    
}

